.text {
  display: flex;
}

.left-side {
  width: 51%;
  word-wrap: break-word;
  text-align: left;
  margin-left: 2.5em;
  width: 50%;
}

.right-side {
  width: 49%;
  text-align: left;
  word-wrap: break-word;
  margin-right: 2.5em;
}

.home-text-description {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5em;
}