.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headshot {
  width: 165px;
  height: 147px;
  border-radius: 100%;
}

.description {
  overflow-wrap: break-word;
  word-wrap: break-word;
}